{%load static%}

<div class="body44">
<footer class="flex-rw">

<ul class="footer-list-top">
  <li>
    <h4 class="footer-list-header">
      <h4 class="footer-list-header"> <a class="aa" href="#home" id="logo" style="text-decoration: none;font-family:'Berkshire Swash',cursive;">
        <img src="{% static 'img/logo.jpg' %}">
       </a></h4>
    </h4></li>
  <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">GET TO KNOW US</a></li>
  <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">PROMOS</a></li>
  <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">BECOME A RETAILER</a></li>

  <li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">JOB OPENINGS</a></li>

  <li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">EVENTS</a></li>
</ul>
<ul class="footer-list-top">
  <li>
    <h4 class="footer-list-header"> <a class="aa" href="#home" id="logo" style="text-decoration: none;font-family:'Berkshire Swash',cursive;color:#fff">
      Seven professions</a></h4></li>


  <li><a class="generic-anchor footer-list-anchor">HOME</a></li>
  <li><a class="generic-anchor footer-list-anchor">ABOUT</a></li>
  <li><a class="generic-anchor footer-list-anchor">CONTACT</a></li>
  <li><a class="generic-anchor footer-list-anchor">SERVICES</a></li>
  <li><a class="generic-anchor footer-list-anchor" target="_blank">DOWNLOAD</a></li>
</ul>
<ul class="footer-list-top">
  <li id='help'>
    <h4 class="footer-list-header" style="font-family:'Berkshire Swash',cursive">How to insure your service</h4></li>
  <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT</a></li>
  <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
  <li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">STORE LOCATOR</a></li>
  <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEW USERS</a></li>
  <li id='order-tracking'><a href='/shop/order-status' itemprop="significantLink" class="generic-anchor footer-list-anchor">ORDER STATUS</a></li>
</ul>
<section class="footer-social-section flex-rw">
    <span class="footer-social-overlap footer-social-connect">
    CONNECT <span class="footer-social-small">with</span> US
    </span>
    <span class="footer-social-overlap footer-social-icons-wrapper">
    <a href="#" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
    </svg></i></a>
    <a href="#" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <rect x="4" y="4" width="16" height="16" rx="4" />
      <circle cx="12" cy="12" r="3" />
      <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
    </svg></i></a>
  </span>
</section>
</footer>
</div>